:root {
  --RD: #BF0D3E;
  --BL: #009CDE;
  --OR: #ED8B00;
  --YL: #FFD100;
  --GR: #00B140;
  --SV: #919D9D;
  --SECOND-RED: #DA291C;
  --SECOND-ORANGE: #FA4616;
  --SECOND-YELLOW: #FFA300;
  --SECOND-LIGHT-PURPLE: #9063CD;
  --SECOND-DARK-PURPLE: #5C068C;
  --SECOND-VIOLET: #A20067;
  --SECOND-DARK-BLUE: #003594;
  --SECOND-LIGHT-BLUE: #00A3E0;
  --SECOND-DARK-GREEN: #67823A;
  --SECOND-LIGHT-GREEN: #B5BD00;
  --SECOND-OTHER-BLUE: #00859B;
  --SECOND-AQUA: #00BFB3;
}

body {
  height: 100vh;
  width: 95vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: var(--YL);
  background-color: var(--SECOND-OTHER-BLUE);
}

body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

input, button, span {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}