
ul {
    list-style-type: none;
}

@media screen and (max-width: 900px) {
    ul {
        margin-left: -15%;
    }
}

li {
    display: flex;
    align-items: baseline;
    max-width: 75%;
}

.info {
    font-size: 24px;
    color: var(--YL);
    background-color: transparent;
    border-style: none;
    margin-top: 6rem;
}