.text-input {
    border-radius: 0%;
    border-style: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--SECOND-YELLOW);
    opacity: 0.6;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: var(--SECOND-YELLOW);
opacity: 0.6;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: var(--SECOND-YELLOW);
opacity: 0.6;
}

.station-input {
    width: fit-content;
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
}

.lines-input {
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 33%;
    justify-content: space-evenly;
}

.max-input {
    width: fit-content;
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 1em;
}

.sub-input {
    display: flex;
    align-items:flex-start;
    max-width: 3em;
    margin-right: 60px;
}

.input-field {
    font-size: 30px;
    color: var(--YL);
    background-color: transparent;
    border-style: solid;
    border-color: var(--YL);
    max-width: 100%;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4em;
    padding: 1.5em;
    background-color: var(--YL);
    border-style: none;
    border-radius: 1em;
}

.submit-button:hover {
    opacity: 0.8;
}

.submit-button:active {
    background-color: var(--SECOND-YELLOW);
    opacity: 1;
}


.mif-dice {
    font-size: 30px;
}

.mif-subway {
    margin-right: 5px;
}
