@keyframes many-shadows {
    0% {
        box-shadow: 
        0px 0px 0px var(--BL),
        0px 0px 0px var(--GR),
        0px 0px 0px var(--OR),
        0px 0px 0px var(--RD),
        0px 0px 0px var(--YL);
        opacity: 0.15;
    }
    100% {
        box-shadow: 
        5px 5px 1px var(--BL),
        10px 10px 1px var(--GR),
        15px 15px 2px var(--OR),
        20px 20px 2px var(--RD),
        25px 25px 3px var(--YL);
        opacity: 1;
    }
} 

.modal {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--SECOND-DARK-BLUE);
    background-color: lightgray;
    border-radius: 0.5em;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 40%;
    height: 60%;
    animation: many-shadows;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 900px) {
    .modal {
        bottom: 0%;
        top: 40%;
        height: 66%;
        width: 60%;
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}

.icon {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.close {
    font-size: 30px;
    color: var(--SECOND-DARK-BLUE);
    background-color: transparent;
    border-style: none;
}